streamlit
python-dotenv

groq
tavily-python

chromadb
sentence-transformers

llama-parse
llama-index-core

pypdf
markdown

sqlalchemy
bcrypt

pandas
numpy

requests
aiohttp

python-docx
reportlab

langchain
langchain-core
langchain-text-splitters